注意：请先编辑 form 的 action 地址<br>
地址格式为："https://api.telegram.org/bot" + TELEGRAM_BOT_TOKEN + "/setWebhook"
<br>
<br>
<br>

使用自签名证书：<br>
<form method="POST" enctype="multipart/form-data" action="https://api.telegram.org/bot......../setWebhook">
    url: <input type="text" name="url">https://test.ixss.org/api/webhook/TELEGRAM_BOT_TOKEN<br>
    cert: <input type="file" name="certificate" accept=".pem"><br>
        <input type="submit">
</form>

使用签发的证书(需要为TLS1.0+, 提供完整证书链,并由<a href="https://packages.debian.org/jessie/all/ca-certificates/filelist">支持的CA</a>签发)：<br>
<form method="POST" enctype="multipart/form-data" action="https://api.telegram.org/bot......../setWebhook">
    url: <input type="text" name="url">https://test.ixss.org/api/webhook/TELEGRAM_BOT_TOKEN<br>
    <input type="submit">
</form>
<br>
<br>
<br>
Ref: <a href="https://core.telegram.org/bots/api#setwebhook">Telegram API Documentation | setWebhook</a>